<h2>所有职位</h2>
<%= link_to("新增职位", new_job_path, class:"btn btn-success btm.sm") %>
<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    排序 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="/jobs?order=by_lower_up">最低薪资从低到高</a></li>
    <li><a href="/jobs?order=by_lower_down">最低薪资从高到低</a></li>
    <li><a href="/jobs?order=by_upper_up">最高薪资从低到高</a></li>
    <li><a href="/jobs?order=by_upper_down">最高薪资从高到低</a></li>
    <li><%= link_to("最高薪资从高多低99", jobs_path(order:"by_upper_down")) %></li>
    <li><a href="/jobs">按发布时间</a></li>
  </ul>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>职位</th>
      <th>最低薪资</th>
      <th>最高薪资</th>
      <th>联系方式</th>
      <th>更新时间</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to(job.title, job_path(job)) %></td>
        <td><%= job.wage_lower %></td>
        <td><%= job.wage_upper %></td>
        <td><%= job.contact %></td>
        <td><%= job.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
