<h2>编辑职位</h2>

<%= simple_form_for [:admin, @job] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :wage_lower %>
  <%= f.input :wage_upper %>
  <%= f.input :contact %>
  <%= f.input :is_hidden %>
  <%= f.submit "保存", data:{disable_with:"正在保存.."} %>
<% end %>
